* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(199, 255, 255);
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
}
.score {
    text-align: center;
    font-size: 24px;
    background-color: rgb(220, 239, 255);
    border-bottom: 2px solid black;
    padding: 3px;
}
.output {
    text-align: center;
    border-top: 2px solid black;
    background-color: rgb(255, 233, 204);
    padding: 5px;
    font-size: 17px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}
button {
    padding: 20px 8px;
    background-color: lightgray;
    border-radius: 5px;
    width: 90px;
    font-size: 20px;
    flex: 1 1 auto;
    border-color: black;
}